:root{
  ---font: "Roboto";
  ---negro:  #262626;
  ---blue: #2271D1;
  ---blanco:  #FFFFFF;


}


body {
  margin: 0;
  font-family: var(---font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


 